.container {
  max-width: 400px;
  border: 1px solid black;
  margin: 0;
  display: flex;
  margin-bottom: 10px;
}

.item {
  background-color: blue;
  margin: 5px;
  text-align: center;
  color: white;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.column {
  flex-direction: column;
  min-height: 200px;
}

.flex-container {
  max-width: 350px;
  border: 1px solid black;
  display: flex;
}

.item-container {
  background-color: rgb(180, 3, 180);
  margin: 5px;
  color: white;
  text-align: center;
  flex: 1;
}

.align-center {
  align-items: center;
}

.stretch {
  align-items: stretch;
}

.start {
  align-items: flex-start;
}

.end {
  align-items: flex-end;
}

.baseline {
  align-items: baseline;
}

.col {
  flex-direction: column;
}

.central {
  height: 300px;
  justify-content: center;
}

.central .item-container{
  /* "Zerar o flex" -> Remove algumas propriedades relacionadas a flex items*/
  flex: 0;
  padding: 20px;
}

/* align content */
.align-container {
  display: flex;
  height: 400px;
  max-width: 300px;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.align-item {
  background-color: purple;
  padding: 0 5px;
  flex: 1;
  margin: 5px;
  text-align: center;
  color: white;
}

.align-stretch {
  align-content: stretch;
}

.align-cc {
  align-content: center;
}

.align-fs {
  align-content: flex-start;
}

.align-fe {
  align-content: flex-end;
}

.align-sa {
  align-content: space-around;
}

.align-sb {
  align-content: space-between;
}