* {
  margin: 0;
  padding: 0;
  font-family: 'Optima', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
}

div img {
  display: block;
  width: 100%;
}

.flex-container {
  display: flex;
  max-width: 990px;
  margin: auto;
  width: 100%;
}

header {
  background-color: #130069;
  height: 100px;
  display: flex;
  align-items: center;
}

/* Menu de item */
header nav .menu-items {
  align-items: center;
  display: flex;
  width: 100%;
  max-width: 260px;
  justify-content: space-between;
}

/* Menu de navegação da header */
header .menu {
  justify-content: space-between;
}

#page-name {
  color: white;
  font-family: 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  font-style: italic;
  font-size: 32px;
}

/* Items do menu da header */
.menu-items li a {
  color: white;
}

header nav .menu-items li a:hover {
  transform: translateY(-0.1rem);
  color: rgb(79, 249, 255);
}

.apresentation {
  height: 100vh; /* relacionada ao view 'port' */
  align-items: center;
  justify-content: space-between;
}

.apresentation .text-apresentation {
  min-height: 200px;
  width: 100%;
}

.text-apresentation h1 {
  color: #2804c6;
  font-size: 48px;
  margin-bottom: 10px;
}

.button {
  margin-top: 15px;
  background-color: #42008d;
  text-decoration: none;
  height: 50px;
  width: 190px;
  display: block;
  align-items: center;
  border-radius: 25px;
  color: white;
  text-align: center;
  line-height: 50px;
  margin: 10px 0 10px 0;
  font-size: 20px;
}

.text-corporation {
  max-height: 534px;
  justify-content: space-between;
  font-size: 24px;
  color: #130069;
}

#quem-somos {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 200px;
}

#quem-somos h2 {
  color: #2804c6;
  font-size: 32px;
  display: flex;
  align-items: center;
}

/* Pseudo elemento */
#quem-somos h2::before {
  content: '';
  height: 50px;
  width: 5px;
  margin-top: 15px;
  margin-right: 8px;
  background-color: #2804c6;
  position: relative;
  margin-bottom: 20px;
}

.image-empresa {
  max-height: 534px;
  min-width: 535px;
}

.extern-container {
  background-color: #42008d;
  width: 100%;
}

#services {
  padding-top: 50px;
  padding-bottom: 100px;
  flex-direction: column;
}

#services h2 {
  color: white;
  font-size: 32px;
  margin-bottom: 75px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-list .item-service {
  text-align: center;
}

.item-service a {
  width: 220px;
  background-color: white;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
  text-align: center;
  line-height: 50px;
  padding: 5px 10px;
  text-decoration: none;
  color: #42008d;
  font-size: 14px;
  font-weight: 700;
}

.item-service p {
  font-weight: 700;
  font-size: 18px;
  margin-top: 20px;
  color: white;
}

.item-service img {
  width: 80%;
  margin: auto;
}

#plans {
  flex-direction: column;
  min-width: 100vh;
  padding-top: 50px;
  padding-bottom: 100px;
}

#plans h2 {
  font-size: 32px;
  color: #130069;
}

.plans-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.item-plan {
  flex: 1;
  border: 6px solid #42008d;
  margin-right: 20px;
  max-width: 240px;
}

.item-plan h3 {
  color: #130069;
  text-align: center;
  font-size: 24px;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  padding: 10px;
}

.item-plan h3::after {
  content: '';
  background-color: #130069;
  width: 100%;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.item-plan .button {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-plan ul {
  margin-left: 20px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
}

.item-plan ul li {
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 14px;
}

.item-plan ul li::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #2804c6;
  margin-right: 5px;
}

footer {
  background-color: #130069;
  height: 70px;
  display: flex;
  align-items: center;
}

footer .footer {
  justify-content: space-between;
  color: white;
}

/* Mobile */
@media (max-width: 992px) {
  .flex-container {
    flex-direction: column;
  }
}
